*
{
    margin: 0%;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Geomanist Regular Italic'), url('Geomanist-Regular-Italic.woff') format('woff');
    }
.proof
{
    width: 19%;
    background-color: black;
    color: #ffffff;
    padding: 2REM;
}
.argu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gout
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}
h3{
    text-align: center;
    margin: 2rem;
    font-size: 1.4rem;
}
h1{
    font-size: 4em;
    color: whitesmoke;
    background-color: hsl(0, 0%, 0%);
    width: 100vw;
    margin: 0;
    padding: 0;
    /* letter-spacing: 5rem; */
    text-align: center;

}


 img
 {
    height:50vh;
    aspect-ratio: 100%;
 }
 .navi {
   
    margin: 10px; 
    background-color: rgb(201, 201, 201);
    color: hsl(0, 0%, 27%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
 }

.navi:hover
{
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    letter-spacing: 5px;
    transition: ease-in-out;
    transition-duration: 1000ms;
}
 nav
 {
    margin: 2rem;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

div[class*=health]:hover
{
    background-color: hsl(194, 100%, 75%);
    color: hsla(0, 0%, 0%, 80%);
    box-shadow: hsla(187, 96%, 36%, 0.945) 0px 0px 10px;
    transition: ease;
    transition-duration: 500ms;
}
div[class*=price]:hover
{
    background-color: hsl(61, 100%, 75%);
    color: rgba(0, 0, 0, 0.699);
    box-shadow: hsla(56, 100%, 33%, 0.945) 0px 0px 10px;
    transition: ease;
    transition-duration: 500ms;

}
div[class*=flavour]:hover
{
    background-color: hsl(295, 100%, 75%);
    color: hsla(0, 0%, 0%, 80%);
    box-shadow: hsla(281, 99%, 26%, 0.945) 0px 0px 10px;
    transition: ease;
    transition-duration: 500ms;

}
div[class*=environnement]:hover
{
    background-color: hsl(128, 100%, 75%);
    color: hsla(0, 0%, 0%, 80%);
    box-shadow: hsla(106, 100%, 34%, 0.945) 0px 0px 10px;
    transition: ease;
    transition-duration: 500ms;

}

